body {
    background-color: #150c33;
    color: white;
    font-family: Bahnschrift;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 100px;
    background: linear-gradient(to right, red, orange);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 32px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    animation: fadeIn 1s;
}

h2 {
    font-size: 32px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    animation: fadeIn 1s;
}

.aboutme {
    margin-top: 64px;
    animation: fadeIn 1s;
}

    .aboutme .box {
        font-size: 32px;
        box-shadow: #2e1482 0px 0px 25px 10px;
        border-radius: 16px;
        width: 40%;
        text-align: left;
        background: url('res/programming1.jpg');
        height: 400px;
    }

        .aboutme .box p {
            margin-left: 25px;
        }

        .aboutme .box h3 {
            font-size: 45px;
            margin-left: 25px;
            margin-block-start: 25px;
            margin-block-end: 3px;
            color: #b395e7
        }

        @keyframes fadeIn {
            0% {
                margin-top: 100%;
            }

            70% {
                margin-top: -15px;
            }

            100% {
            }
        }
